html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 10rem;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-container {
    margin: 1rem 0;
}

.field {
    display: flex;
    flex-direction: column;
}

.is-invalid {
    border-color: #dc3545;
}

.error {
    position: absolute;
    color: #dc3545;
    font-size: .8rem;
}

.toast-message {
    top: 0rem;
    right: 0rem;
    position: fixed;
    margin: 2rem;
    padding: 1rem;
}

.toast-message-error {
    background: #dc3545;
    color: #fff;
}

.toast-message-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.toast-message-btn {
    margin: 0;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}
